# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# app
APP_ID='388123e7-a3e9-404f-914e-0e571dd104a4'
NODE_ENV=local
PORT=4000
DOMAIN='localhost:3000'
DEFAULT_PROJECT_ID='3331959d-1666-4f4a-97fc-42363bf5cfbf'

# database
DATABASE_URL="postgresql://universal-api:universal-api@localhost:6432/universal-api"
DATABASE_REPLICA_URL_1="postgresql://universal-api:universal-api@localhost:6433/universal-api"

#dictionary
SPREADSHEET_ID=1OCttWAXiRs40FT5i_T-JsfEi0ewGbVcGtyi2E3dNwJw

# i18n
I18N_FALLBACK_LANGUAGE=en-US

# cache
REDIS_DEFAULT_TTL=10000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81

# object-storage
OBJECT_STORAGE_PROVIDER="minio" # Options: Minio
OBJECT_STORAGE_DOMAIN=http://127.0.0.1:9000
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SSL=false

# search
SEARCH_PROVIDER=meilisearch # Options: Meilisearch
MEILISEARCH_HOST=http://127.0.0.1:7700
MEILISEARCH_API_KEY=masterKey

# auth
AUTH0_ISSUER_URL=https://petsee-local.eu.auth0.com/
AUTH0_AUDIENCE=https://api.local.petsee.co


# monitoring
SENTRY_DNS=